.App {
  background-color: lightgray;
}

.App-header {
  color: black;
  text-align: center;
}

.banner {
  width: 100%;
  height: 50vh;

  margin-top: 2%;
}

footer {
  background-color: #282c34;
  color: #fff;
  padding: 2px;
  border-top: 5px solid darkorange;
}
